.body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
  }
  
  .table{
    text-align: left;
  }
  
  .table__th {
    padding: .5rem;
  }
  
  .table__td {
    padding: .5rem;
  }
  
  .category_input {
    text-align: left;
  }