.body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
  }
  
.table{
  text-align: left;
  border-spacing: 0;
}

th, table {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.table__th {
  padding: .5rem;
}

.table__th__categories {
  width: 130px;
  padding: .5rem;
}

.table__th__keywords {
  width: 450px;
  padding: .5rem;
}

.table__td {
  padding: .5rem;
  vertical-align : top;
  max-width: 130px;
}

.category_input {
  text-align: left;
  padding: .5rem;
}

.table__add_keyword_input_group {
  display: inline-block;
}

.table__category_item {
  display: table;
  float: left;
}

.table__category_item__title {
  max-width: 100px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display:table-cell;
  vertical-align:middle;
  float: left;
}

.table__input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  font-size: calc(10px + 1vmin);
}